body {
    background-image: url(in-blog-4.png);
    padding: 20%;
 }

.box1 {
     font-size: 2rem;
     color: rgb(250, 245, 244);
     background-color: black;
     border: 2px dashed rgb(0, 128, 128);

 }

 #ok {
     background-color: rgb(20, 20, 20);
     border-radius: 20%;
     color: rgb(253, 255, 255);
     font-weight: bolder;
     padding: 10px 20px;
     border: 1px dashed rgb(0, 128, 128);
     margin: 5% 50%;
 }
 .box2 {
    font-size: 2rem;
    color: rgb(250, 245, 244);
    background-color: black;
    border: 2px dashed rgb(0, 128, 128);
    padding-left: 25%;

}